body{		
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	color: white;
	background: #242424;
}
.content{
	/*margin-left: auto;
	margin-right: auto;	*/	
	overflow: auto;
	background: #242424;
}
.subheader{
	width: 100%;
	background: #323232;	
}
.subheader table{	
	table-layout: fixed;
	width:100%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: right;
}
.subheader thead{
	font-weight: 700;
}
.subheader tbody{
	font-weight: 400;
	color: gray;
}
.subheader td:first-child{
	text-align: left;
}

.header{	
	text-align: center;
}
.container{
	width: 100%;
	display: table;
}

.trackmap{
	padding: 5px;
	color: gray;
	font-weight: 400;	
	display:table-cell;
	vertical-align: middle;
	text-align: center;
}
.trackmap_map_area {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 250px;		
}
.trackmap_map_area img {
	position: relative;
	z-index: 1;
	width: 250px;	
	-webkit-filter: brightness(0.5);
}
.car {
	position:  absolute;
	background: #bd0000;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	z-index: 5;
	margin-left: -5px;
	margin-top: -5px;
}
.leaderboard{		
	padding: 10px;	
	color: white;		
	display:table-cell;
}
.leaderboard span{
	font-weight: 400;
}

.leaderboard table {		
	border-collapse: collapse;	
	table-layout: fixed;
	z-index: 1;
	color: white;
	width: 100%;
}
.leaderboard td, th{
	text-align: left;	
}
.leaderboard thead tr{	
	color: gray;	
}

.leaderboard tbody tr:nth-child(odd) {
  background: #323232;
  color: white;
}
.leaderboard tbody th {
	color: rgb(20,190,150);
}
.leaderboard tbody tr:hover{
	background: rgb(80,80,80);
}

@media only screen and (max-width: 1000px) {
	.subheader table{
		margin-left: auto;
	}
	.trackmap{		
		float: none;
		display: block;
	}

  .leaderboard {
  	margin-left: auto;
	margin-right: auto;    
    float: none;
    display: block;
  }

}