body{		
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	color: white;
}
.content{
	/*margin-left: auto;
	margin-right: auto;	*/	
	overflow: auto;
	background: #242424;
}
.subheader{
	width: 100%;
	height: 75px;
	background: #323232;	
}
.subheader span{
	color: gray;
}
.header{	
	text-align: center;
}
.session_info{			
	float: left;
}
.server_info{
	float: right;	
	margin-right: 10px;
}

.trackmap{
	padding: 5px;
	color: gray;
	font-weight: 400;
	float: left;
}
.trackmap_map_area {
	position: relative;
	width: 250px;		
}
.trackmap_map_area img {
	position: relative;
	z-index: 1;
	width: 250px;	
}
.car {
	position:  absolute;
	background: #bd0000;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	z-index: 5;
	margin-left: -5px;
	margin-top: -5px;
}
.leaderboard{		
	padding: 10px;	
	color: white;
	float: left;	
	width: 80%;
	background: 
}
.leaderboard span{
	font-weight: 400;
}

.leaderboard table {		
	border-collapse: collapse;	
	table-layout: fixed;
	z-index: 1;
	color: white;
	width: 100%;
}
.leaderboard td, th{
	text-align: left;	
}
.leaderboard thead tr{	
	color: gray;	
}

.leaderboard tbody tr:nth-child(odd) {
  background: #323232;
  color: white;
}
.leaderboard tbody th {
	color: rgb(20,190,150);
}
.leaderboard tbody tr:hover{
	background: rgb(80,80,80);
}