body{		
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 700;
	color: white;
}
.content{
	width: 910px;
	margin-left: auto;
	margin-right: auto;		
	overflow: auto;
	background: #242424;
}
.header{
	padding: 10px;
	text-align: center;
}
.session_info{	
	padding: 10px;	
}
.session_info table{
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
	table-layout: fixed;
}
.session_info td{	 
	 text-align: center;
	 font-weight: bold;
}

.trackmap{
	padding: 5px;
	color: #323232;
	font-weight: 400;
	float: left;
}


.trackmap_map_area {
	position: relative;
	width: 250px;		
}
.trackmap_map_area img {
	position: relative;
	z-index: 1;
	width: 250px;	
}
.car {
	position:  absolute;
	background: #bd0000;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	z-index: 5;
	margin-left: -5px;
	margin-top: -5px;
}
.leaderboard{
	background: #242424;	
	padding: 10px;	
	color: white;
	float: left
}
.leaderboar p{
	font-weight: 400;
}

.leaderboard table {		
	border-collapse: collapse;	
	table-layout: fixed;
	z-index: 1;
	color: white;
}
.leaderboard td, th{
	text-align: left;	
}
.leaderboard thead tr{
	background: #323232;	
}

.leaderboard tbody tr:nth-child(even) {
  background: #323232;
  color: white;
}
.leaderboard tbody th {
	color: rgb(20,190,150);
}
.leaderboard tbody tr:hover{
	background: rgb(80,80,80);
}